# Python のキャッシュ
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyd
*.pdb

# 仮想環境は絶対にGitに入れない
python_env/
# もし追加で仮想環境作ったとき用に
venv/ 
.venv/

# 環境変数ファイル/APIキー、パスワード、秘密鍵などを入れるファイル
.env

# Django
*.sqlite3
# ローカルDBは個人ごとに違うのでGitに入れない

# Django collectstatic出力（生成物なのでGit管理しない）
staticfiles/

# 誤commit防止
.vscode/

*.log
# ログには機密情報が含まれることがある

memo.txt
# このフォルダは作成者のメモ帳です