{% load static %}
{# Djangoのstaticタグを使えるようにする #}
<!doctype html> {# HTML5文書であることを宣言 #}
<html lang="ja"> {# 文書の言語を日本語に設定 #}
<head>
  <meta charset="utf-8" /> {# 文字コードをUTF-8に設定 #}
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {# スマホ対応 #}
  <title>{% block title %}避難所検索{% endblock %}</title>
  {# 子テンプレートでタイトルを上書きできる #}

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {# staticフォルダのCSSを読み込む #}

  {% block extra_head %}{% endblock %}
  {# 子テンプレートが追加のCSSやmetaタグを挿入できる領域 #}

  {# PWA #}
<link rel="manifest" href="{% static 'manifest.json' %}">
<meta name="theme-color" content="#ffffff">
</head>

<body>
  <header class="site-header"> {# ページ上部のヘッダー #}
    <div class="container"> {# レイアウト用のコンテナ #}
      <a class="brand" href="{% url 'places:place_list' %}">トップへ</a>
      {# ロゴ(サイト名)。クリックで一覧ページへ移動 #}

      {% block header_right %}{% endblock %}
      {# ヘッダー右側に子テンプレートが内容を追加できる #}
    </div>
  </header>

  <main class="container"> {# メインコンテンツ領域 #}
    {% block content %}{% endblock %}
    {# 子テンプレートがページの中身を挿入する場所 #}
  </main>

  <footer class="site-footer"> {# ページ下部のフッター #}
    <div class="container">

      {% block footer %}
  <small>
    {% if places %}
    <p>最終同期日時：{{ places.0.synced_at | date:"Y-m-d H:i" }}</p>
    {% endif %}
    このアプリは船橋市のオープンデータを改変して利用しています。<br>
    出典：船橋市「（避難場所一覧・避難所（一時滞在可能）・帰宅困難者支援施設）」、
    <a href="https://creativecommons.org/licenses/by/4.0/deed.ja" target="_blank" rel="noreferrer">
      クリエイティブ・コモンズ・ライセンス表示 4.0
    </a>
  </small>
      {% endblock %}
      {# フッター内容。必要なら子テンプレートで上書き可能 #}
    </div>
  </footer>

  {% block extra_js %}{% endblock %}
  {# 子テンプレートが追加のJavaScriptを読み込める領域 #}
  <script>
  if ("serviceWorker" in navigator) {
    navigator.serviceWorker.register("/sw.js");
  }
  </script>
</body>
</html>