{% extends "base.html" %}
{% block title %}一覧{% endblock %}

{% block content %}
<body>
    <h1>避難施設一覧</h1>
    <form method="get" action="/places/">
        {# GETメソッドで/places/に検索ホームを送信 #}
        <label>
            カテゴリ：
            <select name="category">
                {# カテゴリ選択用のセレクトボックス。name="categry"がURLパラメータになる #}
                <option value="">すべて</option>
                {# カテゴリ未選択(全権表示)の選択肢 #}
                {% for c in categories %}
                {# Djangoテンプレート：categories(ビューから渡されたリスト)をループ #}
                    <option value="{{ c }}" {% if c == selected_category %}
                    selected
                    {% endif %}>
                    {# 現在選択中のカテゴリならselectedを付与 #}
                    {{ c }}
                    {# カテゴリ名を表示 #}
                    </option>
                {% endfor %}
                {# ループ終了 #}
            </select>
        </label>

        <label>
            キーワード：
            <input type="text" name="q" value="{{q}}" placeholder="施設名または住所"/>
            {# キーワード検索用のテキストボックス。valueに現在の検索語を保持 #}
        </label>

        <button type="submit">検索</button>
        {# 検索ボタン #}

        <a href="/places/">条件クリア</a>
        {# 検索条件をリセットして一覧に戻るリンク #}
    </form>

    <p>※検索は補助です。0件のときはカテゴリを「すべて」に戻して一覧から探せます。</p>
    {# ユーザー向けの注意書き #}

    <p>表示件数：{{ places | length }}件</p>
    {# 検索結果の件数を表示 #}

    {% if places %}
        <p>最終同期日時：{{ places.0.synced_at | date:"Y-m-d H:i" }}</p>
    {% endif %}

    <ul>
        {% for p in places %}
        {# places(ビューから渡された施設リスト)をループ #}
        <li>
            <a href="/places/{{ p.id }}/">{{ p.name }}</a><br />
            {# 施設詳細ページへのリンク(IDをURLに使用) #}
            {{ p.address }}
            {# 施設の住所を表示 #}
        </li>

    {% empty %}
    {# ループが0件だった場合の表示 #}
        <li>該当する施設が見つかりませんでした。条件を減らして再検索してください。</li>
    {% endfor %}
    {# ループ終了 #}
    </ul>

    <hr>
<footer>
  <small>
    このアプリは船橋市のオープンデータを改変して利用しています。<br>
    出典：船橋市「（避難場所一覧・避難所（一時滞在可能）・帰宅困難者支援施設）」、
    <a href="https://creativecommons.org/licenses/by/4.0/deed.ja" target="_blank" rel="noreferrer">
      クリエイティブ・コモンズ・ライセンス表示 4.0
    </a>
  </small>
</footer>
</body>
{% endblock %}